<%- include('partials/head') %>
<%- include('partials/navbar') %>

        <article class="head">
            <div class="head-right"><img class="bigimg" src="img/transparentbg-potato.png" alt="potato"></div><div class="head-left"><h1>HI! I'm</h1><h2>Christian Jay A. Alcanzarin</h2><p class="web">a Web Developer</p></div>
        </article>


        <!-- About -->
        <hr>
        <section id="about">
        <div>
            <h2>About</h2>
            <p>A self-motivated and hardworking person and good at internet research. Able to 
                multitask and solve logical problems; and can search and apply the easiest and most 
                efficient ways to finish the task.</p>
            <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
            <p>Goldenstate College of Koronada, Inc. — 2018-2022</p>
        </div>
        <div>
            <h2>Programming Skills</h2>
            <ul>
                <li>Javascipt</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVA</li>
                <li>C#</li>
                <li>JQuery</li>
                <li>MongoDB</li>
                <li>EJS</li>
                <li>AJAX</li>
            </ul>
        </div>
        </section>
        <!-- About -->

        <!-- Projcts -->
        <hr>
        <%- include('projects') %>

        <!-- include accomplishments -->
        <hr>
        <%- include('accomplishments') %>

        <!-- Contact info -->
        <hr>
        <%- include('about') %>

        <footer>
            <p>&copy; 2023 Christian Jay. All rights reserved.</p>
        </footer>

    </div>
</body>
</html>